.board{
    height: 100vh;
    width: 85vw;
    background-color: #0b0b0bed;
    /* background-color: white;                    for light theme*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board-upper{
    height: 10vh;
    width: 100%;
}
.board-lower{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}